<div class="container">
    <div class="row my-2">
        <div class="col-12 ">
            <span>I certify that my answers are true and complete to the best of my knowledge.
                <br>If this application leads to my acceptance to the CodeBound program, I understand that false or misleading information in my application or interview may result in my release.</span>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-12 text-center my-2">
            <input type="text" disabled placeholder="placeholder for signature input" class="form-control">
        </div>
    </div>
</div>