<div class="container">
    <div class="row my-2">
        <div class="col-12 text-center">
            <span>Section 2 - Voluntary Information</span>
        </div>
    </div>

    <div class="row my-2">
        <div class="col-12">
            <span>
                Voluntary Self-Identification Section Disclaimer
            </span>
            <br>
            <span>
                Completion of this portion of the form is voluntary and will not affect your eligibility to attend CodeBound or the terms or conditions of your participation. This form will be used for reporting purpose only.
            </span>
        </div>
    </div>

    <div class="row my-2">
        <div class="col-6">
            <table class="table table-bordered">
                <tr>
                    <td rowspan="4">
                        <span>Gender:</span>
                    </td>

                    <td>
                        <input type="radio" id="gender" name="gender" value="Male" [(ngModel)]="gender" (change)="updateGender()"> &nbsp; <span>Male</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="gender" name="gender" value="Female" [(ngModel)]="gender" (change)="updateGender()"> &nbsp; <span>Female</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="gender" name="gender" [value]="other" [(ngModel)]="gender" (change)="updateGender()"> &nbsp; <input type="text" id="other" name="other" [(ngModel)]="other" (keypress)="valid($event)">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="gender" name="gender" value="Do not wish to disclose" [(ngModel)]="gender" (change)="updateGender()"> &nbsp; <span>Do not wish to disclose</span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-6">
            <table class="table table-bordered">
                <tr>
                    <td rowspan="5">
                        <span>Marital status:</span>
                    </td>
                    <td>
                        <input type="radio" id="marStat" name="marStat" value="Married" [(ngModel)]="marStat" (click)="updateMarStat()"> &nbsp; Married
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="marStat" name="marStat" value="Seperated" [(ngModel)]="marStat" (click)="updateMarStat()"> &nbsp; Seperated
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="marStat" name="marStat" value="Divorced" [(ngModel)]="marStat" (click)="updateMarStat()"> &nbsp; Divorced
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="marStat" name="marStat" value="Widowed" [(ngModel)]="marStat" (click)="updateMarStat()"> &nbsp; Widowed
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="marStat" name="marStat" value="Single" [(ngModel)]="marStat" (click)="updateMarStat()"> &nbsp; Single
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>