<div class="container">
    
    <div class="row">
        <div class="col-6">
            <h2>Partnered Universities</h2>
        </div>
        <div class="col-6">
            <!--  -->
        </div>
    </div>

    <div class="row my-1">
        <div class="col-6 my-1">
            <div class="row">
                <div class="col-6">
                    <img src="assets/img/uiw.png">
                </div>
                <div class="col-6 align-bottom">
                    <table>
                        <tr>
                            <td>
                                <span class="">San Antonio, TX</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-6 my-1">
            <div class="row">
                <div class="col-6">
                    <img src="assets/img/stmarys.png" height="111px" width="300px">
                </div>
                <div class="col-6">
                    <table>
                        <tr>
                            <td>
                                <span class="">Halifax, Nova Scotia, Canada</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-6 my-1">
            <div class="row">
                <div class="col-6">
                    <img src="assets/img/stthomas.png" height="117px" width="157px">
                </div>
                <div class="col-6">
                    <table>
                        <tr>
                            <td>
                                <span class="">Miami, FL</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-6 my-1">
            <div class="row">
                <div class="col-6">
                    <img src="assets/img/pikespeak.png" width="300px" height="144px">
                </div>
                <div class="col-6">
                    <table>
                        <tr>
                            <td>
                                <span class="">Colorado Springs, CO</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
