@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=IBM+Plex+Serif&family=Trispace&display=swap');


.test{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 32px;
    color: red;
}

.center {
    display: flex;
    justify-content: center;
  }