<div class="container-fluid">
<app-header-main></app-header-main>
<app-partner-unis></app-partner-unis>
<hr>
<h1><span class="center">Enrollment application form</span></h1>
<hr>
<app-personal-info></app-personal-info>
<app-voluntary-info></app-voluntary-info>
<app-re></app-re>
<app-und-rep></app-und-rep>
<app-military></app-military>
<app-disc-sig></app-disc-sig>
<!-- <app-api></app-api> -->
<hr>
<button>Submit</button>
<br>
</div>