<div class="container">
    <div class="row my-2">
        <div class="col-12 text-center">
            <span>Section 1 - Personal Information</span>
        </div>
    </div>

    <div class="row my-2">
        <div class="col-4">
            <input type="radio" name="country" id="country" value="USA" [(ngModel)]="country" (change)="updateCountry()"> 🇺🇸 &nbsp;&nbsp;
            <input type="radio" name="country" id="country" value="CAN" [(ngModel)]="country" (change)="updateCountry()"> 🇨🇦 
        </div>
        <div class="col-4 text-center">
            <span>Applicant full name:</span>
        </div>
        <div class="col-4 text-right">
            <span>Today's date: </span><input type="date" name="formDate" id="formDate" [(ngModel)]="formDate" (blur)="updateDate()">
        </div>
    </div>

    <div class="row my-2">
        <div class="col-4">
            <input type="text" maxlength="20" placeholder="First name" name="firstName" id="firstName" [(ngModel)]="firstName" (blur)="updateFirstName()"  (keypress)="letter($event)">
        </div>
        <div class="col-4">
            <input type="text" maxlength="20" placeholder="Middle name" name="middleName" id="middleName" [(ngModel)]="middleName" *ngIf="!midbox" (blur)="updateMiddleName()"  (keypress)="letter($event)"> 
            <input type="text" placeholder="No Middle Name" disabled *ngIf="midbox">
        </div>
        <div class="col-4">
            <input type="text" maxlength="20" placeholder="Last name" name="lastName" id="lastName" [(ngModel)]="lastName" (blur)="updateLastName()" (keypress)="letter($event)">
        </div>
    </div>
    <div class="row my-2">
        <div class="col-4">
            <!--  -->
        </div>
        <div class="col-4">
            <input type="checkbox" [(ngModel)]="midbox" (click)="middleClear()"> <span> No middle name</span>
        </div>
        <div class="col-4">
            <!--  -->
        </div>
    </div>

    <div class="row my-2">
        <div class="col-6">
            <span>Phone number :</span>
        </div>
        <div class="col-6">
            <span>Email: </span>
        </div>
    </div>

    <div class="row my-2">
        <div class="col-6">
            (<input [(ngModel)]="number1" type="text" maxlength="3" pattern="[0-9]" max="999" size="3" class="" name="number1" id="number1" (blur)="updatePhone()" (keypress)="num($event)">) 
            <input [(ngModel)]="number2" type="text" maxlength="4" pattern="[0-9]" max="9999" size="4" name="number2" id="number2" (blur)="updatePhone()" (keypress)="num($event)"> - 
            <input [(ngModel)]="number3" type="text" maxlength="3" pattern="[0-9]" max="999" size="3" name="number3" id="number3" (blur)="updatePhone()" (keypress)="num($event)">
        </div>
        <div class="col-6">
            <span><input type="text" name="email" id="email" placeholder="email" [(ngModel)]="email" (blur)="updateEmail()"  (keypress)="emailInput($event)"></span>
        </div>
    </div>

    <div class="row my-2">
        <div class="col-12 text-center">
            <span>Address:</span>
        </div>
    </div>

    <div class="row my-2" *ngIf="country=='USA'">
        <div class="col-12 text-center">
            <input type="text" maxlength="20" id="street" name="street" placeholder="street" [(ngModel)]="street" (blur)="updateStreet()" (keypress)="address($event)"> &nbsp;
            <input type="text"  maxlength="20" id="apt" name="apt" placeholder="apt/suite number" *ngIf="aptbox" [(ngModel)]="apt" (blur)="updateApt()" (keypress)="address($event)">
            <input type="text"  maxlength="20" id="apt" name="apt" placeholder="no apt/suite number" disabled *ngIf="!aptbox">
            <input type="checkbox" name="aptbox" id="aptbox" [(ngModel)]="aptbox" (click)="clearApt()"> &nbsp;
    
            <input type="text"  maxlength="20" id="city" name="city" placeholder="city" [(ngModel)]="city" (blur)="updateCity()"  (keypress)="letter($event)">, 
            &nbsp; <span>State: </span><select name="state" id="state" [(ngModel)]="state" (change)="updateState()">
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="DC">District of Columbia</option>
                <option value="FL">Flordia</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
                <option value="PR">Puerto Rico</option>
                <option value="GU">Guam</option>
                <option value="VI">US Virgin Islands</option>
                <option value="AS">American Samoa</option>
                <option value="MP">Northern Mariana Islands</option>
            </select>
        </div>
    </div>

    <div class="row my-2" *ngIf="country=='CAN'">
        <div class="col-12 text-center">
            <input type="text"  maxlength="20" id="streetCAN" name="streetCAN" placeholder="street" class="" [(ngModel)]="street" (blur)="updateStreet()" (keypress)="address($event)"> &nbsp;
            <input type="text" maxlength="20"  id="aptCAN" name="aptCAN" placeholder="apt/suite number" *ngIf="aptbox" [(ngModel)]="apt" (blur)="updateApt()" (keypress)="address($event)">
            <input type="text" maxlength="20"  id="aptCAN" name="aptCAN" placeholder="no apt/suite number" disabled *ngIf="!aptbox">
            <input type="checkbox" name="aptboxCAN" id="aptboxCAN" [(ngModel)]="aptbox" (click)="clearApt()"> &nbsp;

            <input type="text" maxlength="20"  id="cityCAN" name="cityCAN" placeholder="city" [(ngModel)]="city" (blur)="updateCity()" (keypress)="letter($event)">, 
            &nbsp; <span>Province: </span><select id="province" name="province" [(ngModel)]="province" (change)="updateProvince()">
                <option value="AB">Alberta</option>
                <option value="BC">British Columbia</option>
                <option value="MB">Manitoba</option>
                <option value="NB">New Brunswick</option>
                <option value="NL">Newfoundland and Labrador</option>
                <option value="NT">Northwest Territories</option>
                <option value="NS">Nova Scotia</option>
                <option value="NU">Nunavut</option>
                <option value="ON">Ontario</option>
                <option value="PE">Prince Edward Island</option>
                <option value="QC">Quebec</option>
                <option value="SK">Saskatchewan</option>
                <option value="YT">Yukon</option>

            </select>
        </div>
    </div>

    <div class="row my-2" *ngIf="country==null">
        <div class="col-12 text-center">
            <span>Select a country</span>
        </div>  
    </div>

    <div class="row my-2" *ngIf="country=='USA'">
        <div class="col-4">
            <span>Date of Birth:</span>
        </div>
        <div class="col-4">
            <span>SSN:</span>
        </div>
        <div class="col-4">
            <span>Are you a US citizen?</span> &nbsp; <input type="checkbox" name="uscitizen" id="uscitizen" [(ngModel)]="uscitizen" (click)="updateCitizen()"> &nbsp; <span *ngIf="uscitizen"><span>Yes</span></span> <span *ngIf="!uscitizen"><span>No</span></span>
        </div>
    </div>
    <div class="row my-2" *ngIf="country=='USA'">
        <div class="col-4">
            <input type="date" id="dob" name="dob" [(ngModel)]="dob">
        </div>
        <div class="col-4">
            <input type="password" maxlength="3"  pattern="[0-9]*" max="999" size="3" name="ssn1" id="ssn1" [(ngModel)]="ssn1" (blur)="updateSSN()" (keypress)="num($event)"> - 
            <input type="password" maxlength="2"  pattern="[0-9]*" max="99" size="2" name="ssn2" id="ssn2" [(ngModel)]="ssn2" (blur)="updateSSN()" (keypress)="num($event)"> - 
            <input type="password" maxlength="4"  pattern="[0-9]*" max="9999" size="4" name="ssn3" id="ssn3" [(ngModel)]="ssn3" (blur)="updateSSN()" (keypress)="num($event)">
        </div>
        <div class="col-4">
            <span *ngIf="!uscitizen">
                <span>Are you authorized to work in the United States?</span> &nbsp; <input type="checkbox" name="usworkauth" id="usworkauth" [(ngModel)]="usworkauth" (click)="updateWorkAuth()"> &nbsp; 
                <span *ngIf="usworkauth">
                    <span>Yes</span>
                </span>
                <span *ngIf="!usworkauth">
                    <span>No</span>
                </span>
            </span>
        </div>
    </div>

    <div class="row my-2" *ngIf="country=='CAN'">
        <div class="col-4">
            <span>Date of Birth:</span>
        </div>
        <div class="col-4">
            <span>SIN:</span>
        </div>
        <div class="col-4">
            <span>Are you a US citizen?</span> &nbsp; <input type="checkbox" name="uscitizen" id="uscitizen" [(ngModel)]="uscitizen"> &nbsp; <span *ngIf="uscitizen" (click)="updateCitizen()"><span>Yes</span></span> <span *ngIf="!uscitizen"><span>No</span></span>
        </div>
    </div>
    <div class="row my-2" *ngIf="country=='CAN'">
        <div class="col-4">
            <input type="date" id="dob" name="dob" [(ngModel)]="dob">
        </div>
        <div class="col-4">
            <input type="password" maxlength="3" ngModel pattern="[0-9]" max="999" size="3" name="sin1" id="sin1" [(ngModel)]="sin1" (blur)="updateSIN()" (keypress)="num($event)"> - 
            <input type="password" maxlength="3" ngModel pattern="[0-9]" max="999" size="3" name="sin2" id="sin2" [(ngModel)]="sin2" (blur)="updateSIN()" (keypress)="num($event)"> - 
            <input type="password" maxlength="3" ngModel pattern="[0-9]" max="999" size="3" name="sin3" id="sin3" [(ngModel)]="sin3" (blur)="updateSIN()" (keypress)="num($event)">
        </div>
        <div class="col-4">
            <span *ngIf="!uscitizen">
                <span>Are you authorized to work in the United States?</span> &nbsp; <input type="checkbox" name="usworkauth" id="usworkauth" [(ngModel)]="usworkauth" (click)="updateWorkAuth()"> &nbsp; 
                <span *ngIf="usworkauth">
                    <span>Yes</span>
                </span>
                <span *ngIf="!usworkauth">
                    <span>No</span>
                </span>
            </span>
        </div>
    </div>

    <div class="row my-2">
        <div class="col-12 text-center">
            <span>Emergency contact:</span>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-3">
            <span>First Name:</span>
        </div>
        <div class="col-3">
            <span>Daytime Phone Number:</span>
        </div>
        <div class="col-3">
            <span>Evening Phone Number:</span>
        </div>
        <div class="col-3">
            <span>Relationship:</span>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-3">
            <input type="text" maxlength="20"  id="emContactName" name="emContactName" placeholder="Emergency Contact Name" [(ngModel)]="emName" (blur)="updateEmName()" (keypress)="letter($event)">
        </div>
        <div class="col-3">
            (<input type="text" maxlength="3" ngModel pattern="[0-9]" max="999" size="3" name="emNum1a" id="emNum1a" [(ngModel)]="emNum1a" (blur)="updateEmN1()" (keypress)="num($event)">) 
            <input type="text" maxlength="4" ngModel pattern="[0-9]" max="9999" size="4" name="emNum1b" id="emNum1b" [(ngModel)]="emNum1b" (blur)="updateEmN1()" (keypress)="num($event)"> - 
            <input type="text" maxlength="3" ngModel pattern="[0-9]" max="999" size="3" name="emNum1c" id="emNum1c" [(ngModel)]="emNum1c"(blur)="updateEmN1()" (keypress)="num($event)" >
        </div>
        <div class="col-3">
            (<input type="text" maxlength="3" ngModel pattern="[0-9]" max="999" size="3" name="emNum2b" id="emNum2a" [(ngModel)]="emNum2a" (blur)="updateEmN2()" (keypress)="num($event)">) 
            <input type="text" maxlength="4" ngModel pattern="[0-9]" max="9999" size="4" name="emNum2b" id="emNum2b" [(ngModel)]="emNum2b" (blur)="updateEmN2()" (keypress)="num($event)"> - 
            <input type="text" maxlength="3" ngModel pattern="[0-9]" max="999" size="3" name="emNum2c" id="emNum2c" [(ngModel)]="emNum2c" (blur)="updateEmN2()" (keypress)="num($event)">
        </div>
        <div class="col-3">
            <input type="text"  maxlength="20"  name="emContactRelation" id="emContactRelatrion" placeholder="Relationship to Emergency Contact" [(ngModel)]="emRel" (blur)="updateEmRel()" (keypress)="letter($event)">
        </div>
    </div>

    <div class="row my-2">
        <div class="col-6">
            <span>Course location: </span> <select name="location" id="location" [(ngModel)]="location">
                <option value="San Antonio, TX">San Antonio, TX</option>
                <option value="Halifax, Nova Scotia, Canada">Halifax, Nova Scotia, Canada</option>
                <option value="Miami, FL">Miami, FL</option>
                <option value="Colorado Springs, CO">Colorado Springs, CO</option>
            </select>
        </div>
        <div class="col-6">
            <span>Choose Class Dates </span><input type="radio" name="dateType" id="dateType" [(ngModel)]="dateType" value="A"> &nbsp; | &nbsp; <span>Set Availability </span> <input type="radio" name="dateTtpe" id="dateType" [(ngModel)]="dateType" value="B">
            <br>
            <div *ngIf="dateType=='B'">
                <span>Your Available dates:</span>
                <table>
                    <tr>
                        <td>
                            <span>From: &nbsp;</span>
                        </td>
                        <td>
                            <input type="date" name="avFrom" id="avFrom">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>To: &nbsp;</span>
                        </td>
                        <td>
                            <input type="date" name="avTo" id="avTo">
                        </td>
                    </tr>
                </table>
            </div>
            <div *ngIf="dateType=='A'">
                <span>Class Dates:</span>
                <table border="1">
                    <tr>
                        <td>
                            <span>[placeholder: Delta dates]</span>
                        </td>
                        <td>
                            <input type="radio" name="classDate" id="classDate" value="Delta">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>[placeholder E dates]</span>
                        </td>
                        <td>
                            <input type="radio" name="classDate" id="classDate" value="E">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>[placeholder F dates]</span>
                        </td>
                        <td>
                            <input type="radio" name="classDate" id="classDate">
                        </td>
                    </tr>
                </table>
            </div>
            
        </div>
    </div>
</div>