<div class="container">
    <div class="row my-2">
        <div class="col-12 text-center">
            <span>Section 3 - Race/Ethnicity</span>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-12">
            <table border="1">
                <tr>
                    <td>
                        <input type="radio" id="latino" name="latino" [(ngModel)]="racEth" value="Latino" (click)="update()">
                    </td>
                    <td>
                        <span>Hispanic or Latino</span>
                    </td>
                    <td>
                        <span>A person of Cuban, Mexican, Puerto Rican, South or Central American, or other Spanish culture or origin regardless of race.</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="radio" id="white" name="white" [(ngModel)]="racEth" value="White" (click)="update()">
                    </td>
                    <td>
                        <span>White (Not Hispanic or Latino)</span>
                    </td>
                    <td>
                        <span>A person having origins in any of the original peoples of Europe, the Middle East or North Africa</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="radio" id="black" name="black" [(ngModel)]="racEth" value="Black" (click)="update()">
                    </td>
                    <td>
                        <span>Black or African American (Not Hispanic or Latino)</span>
                    </td>
                    <td>
                        <span>A person having origins in any of the black racial groups of Africa</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="radio" id="pi" name="pi" [(ngModel)]="racEth" value="Native Hawaiian/Pacific Islander" (click)="update()">
                    </td>
                    <td>
                        <span>Native Hawaiian or Pacific Islander (Not Hispanic or Latino)</span>
                    </td>
                    <td>
                        <span>A person having origins in any of the peoples of Hawaii, Guam, Samoa, or other Pacific Islands.</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="radio" id="asian" name="asian" [(ngModel)]="racEth" value="Asian" (click)="update()">
                    </td>
                    <td>
                        <span>Asian (Not Hispanic or Latino)</span>
                    </td>
                    <td>
                        <span>A person having origins in any of the original peoples of the Far East, Southeast Asia or the Indian Subcontinent, including for example, Cambodia, China, India, Japan, Korea, Malaysia, Pakistan, the Phillppine Islands, Thailand, and Vietnam.</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="radio" id="natAm" name="natAm" [(ngModel)]="racEth" value="Native American/Alaska Native" (click)="update()">
                    </td>
                    <td>
                        <span>Native American or Alaska Native (Not Hispanic or Latino)</span>
                    </td>
                    <td>
                        <span>A person having origins in any of the original peoples of North and South America (including Central America) and who maintains tribal affiiationor community attachment.</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="radio" id="two" name="two" [(ngModel)]="racEth" value="Two or more races" (click)="update()">
                    </td>
                    <td>
                        <span>Two or more races (Not Hispanic or Latino)</span>
                    </td>
                    <td>
                        <span>All persons who identify with more than one of the above five races.</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="radio" id="no" name="no" [(ngModel)]="racEth" value="Do not wish to disclose" (click)="update()">
                    </td>
                    <td colspan="2">
                        <span class="center">I do not wish to disclose</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>