<div class="container">

    <div class="row my-2">
        <div class="col-12 text-center">
            <span>Section 4 - Underrepresented Groups</span>
        </div>
    </div>

    <div class="row my-2">
        <div class="col-12">
            <span>
                CodeBound is committed to promoting equity among underrepresented demographic groups in science, technology, engineering, and mathematics (STEM) careers. Please indicate if you identify with any of the following groups:
            </span>
        </div>
    </div>

    <div class="row my-2">
        <div class="col-12">
            <table class="table table-bordered">
                <tr>
                    <td>
                        <input type="checkbox" id="military" name="military" [(ngModel)]="military" (change)="updateMilitary()">
                    </td>
                    <td>
                        <span>Active Military, Guard, Reserve, or Veteran</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="firstResponder" name="firstResponder" [(ngModel)]="firstResponder" (change)="updateFR()">
                    </td>
                    <td>
                        <span>First Responder</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="femstem" name="femstem" [(ngModel)]="femstem" (change)="updateFemstem()">
                    </td>
                    <td>
                        <span>Women in STEM</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="upskill" name="upskill" [(ngModel)]="upskill" (change)="updateUpskill()">
                    </td>
                    <td>
                        <span>Local employer upskilling (USAA, HEB, Rackspace, AT&T, etc.)</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="careerChange" name="careerChange" [(ngModel)]="careerChange" (change)="updateChange()">
                    </td>
                    <td>
                        <span>Career Transition (Are you changing careers or industries?)</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="vidya" name="vidya" [(ngModel)]="vidya" (change)="updateVidya()">
                    </td>
                    <td>
                        <span>Gamer or Video Game Design</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="lgb" name="lbg" [(ngModel)]="lgbtq" (change)="updateLgbtq()">
                    </td>
                    <td>
                        <span>LGBTQ+</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="firstgen" name="firstgen" [(ngModel)]="firstgen" (change)="updateFirstGen()">
                    </td>
                    <td>
                        <span>First Generation Post-Secondary Student (Are you the first in your family to go to school beyond high school?)</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="minStem" name="minStem" [(ngModel)]="minStem" (change)="updateMinStem()">
                    </td>
                    <td>
                        <span>Underrepresented Minority in STEM (African Americans, Native American/Alaska Natives/Pacific Islander, Latino/Hispanic)</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="singleParent" name="singleParent" [(ngModel)]="singleParent" (change)="updateSingleParent()">
                    </td>
                    <td>
                        <span>Single Parent</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
 
</div>