<div class="container" *ngIf="form.currentForm.value.military">
    <div class="row my-2">
        <div class="col-12 text-center">
            <span>Section 4b - Military Service</span>
  
        </div>
    </div>

    <div class="row my-2">
        <div class="col-6">
            <span>Active Duty? </span> &nbsp; <input type="checkbox" id="active" name="active" [(ngModel)]="active" (change)="updateActive()"> &nbsp; <span *ngIf="active">Yes</span> <span *ngIf="!active">No</span>
            <br>
            <span *ngIf="!active">Retired? </span> &nbsp; <input type="checkbox" id="retired" name="retired" [(ngModel)]="retired" *ngIf="!active" (change)="updateRetired()"> &nbsp; <span *ngIf="retired && !active">Yes</span> <span *ngIf="!retired && !active">No</span>
        </div>
        <div class="col-6" *ngIf="form.currentForm.value.country=='USA'">
            <span>Branch: </span> &nbsp; 
            <form action="">
            <select name="usBranch" id="usBranch" [(ngModel)]="usBranch" (change)="updateUSbranch()">
                <option value="US Army"> <span>US Army</span> </option>
                <option value="US Marines"> <span>US Marines</span> </option>
                <option value="US Navy"> <span>US Navy</span> </option>
                <option value="US Air Force"> <span>US Air Force</span> </option>
                <option value="US Coast Guard"> <span>US Coast Guard</span> </option>
                <option value="US Space Force"> <span>US Space Force</span> </option>
            </select>
            </form>
        </div>
        <div class="col-6" *ngIf="form.currentForm.value.country=='CAN'">
            <span>Branch: </span><select name="caBranch" id="caBranch" [(ngModel)]="caBranch" (change)="updateCNbranch()">
                <option value="Canadian Army"> <span>Canadian Army</span> </option>
                <option value="Royal Canadian Navy"> <span>Royal Canadian Navy</span> </option>
                <option value="Royal Canadian Air Force"> <span>Royal Canaidan Air Force</span> </option>
            </select>
        </div>
    </div>

    <div class="row my-2">
        <div class="col-4">
            <span>Rank</span> <select name="rank" id="rank" [(ngModel)]="rank" (change)="updateRank()">
                <option value="rank" *ngIf="usBranch=='branch'">rank</option>
                <!-- Enlisted US -->
                <option value="Private (Recruit)" *ngIf="usBranch=='US Army'">Private (Recruit)</option>
                <option value="Private" *ngIf="usBranch=='US Army' || usBranch=='US Marines'">Private</option>
                <option value="Private First Class" *ngIf="usBranch=='US Army' || usBranch== 'US Marines'">Private First Class</option>
                <option value="Specialist" *ngIf="usBranch=='US Army'">Specialist</option>
                <option value="Airman Basic" *ngIf="usBranch=='US Air Force' || usBranch== 'US SPace Force'">Airman Basic</option>
                <option value="Airman" *ngIf="usBranch=='US Air Force' || usBranch=='US Space Force'">Airman</option>
                <option value="Airman First Class" *ngIf="usBranch=='US Air Force' || usBranch=='US Space Force'">Airman First Class</option>
                <option value="Senior Airman" *ngIf="usBranch=='US Air Force' || usBranch=='US Space Force'">Senior Airman</option>
                <option value="Lance Corporal" *ngIf="usBranch=='US Marines'">Lance Corporal</option>
                <option value="Seaman Recruit" *ngIf="usBranch=='US Navy' ||  usBranch=='US Coast Guard'">Seaman Recruit</option>
                <option value="Seaman Apprentice" *ngIf="usBranch=='US Navy' ||  usBranch=='US Coast Guard'">Seaman Apprentice</option>
                <option value="Seaman" *ngIf="usBranch=='US Navy' ||  usBranch=='US Coast Guard'">Seaman</option>

                <!-- NCO US -->
                <option value="Corporal" *ngIf="usBranch=='US Army' || usBranch=='US Marines'">Corporal</option>
                <option value="Sergeant" *ngIf="usBranch=='US Army' || usBranch=='US Marines'">Sergeant</option>
                <option value="Staff Sergeant" *ngIf="usBranch=='US Army' || usBranch=='US Air Force' || usBranch=='US Marines' || usBranch=='US Space Force'">Staff Sergeant</option>
                <option value="Technical Sergeant" *ngIf="usBranch=='US Air Force' || usBranch=='US Space Force'">Technical Sergeant</option>
                <option value="Sergeant First Class" *ngIf="usBranch=='US Army'">Sergeant First Class</option>
                <option value="Gunnery Sergeant" *ngIf="usBranch=='US Marines'">Gunnery Sergeant</option>
                <option value="First Sergeant" *ngIf="usBranch=='US Army' || usBranch=='US Marines'">First Sergeant</option>
                <option value="First Sergeant (Master Sergeant)" *ngIf="usBranch=='US Air Force' || usBranch=='US Space Force'">First Sergeant (Master Sergeant)</option>
                <option value="Master Sergeant" *ngIf="usBranch=='US Army' || usBranch=='US Air Force' || usBranch=='US Marines' || usBranch=='US Space Force'">Master Sergeant</option>
                <option value="Command Sergeant Major" *ngIf="usBranch=='US Army'">Command Sergeant Major</option>
                <option value="Sergeant Major" *ngIf="usBranch=='US Army' || usBranch=='US Marines'">Sergeant Major</option>
                <option value="Sergeant Major of the Army" *ngIf="usBranch=='US Army'">Sergeant Major of the Army</option>
                <option value="First Sergeant (Senior Master Sargent)" *ngIf="usBranch=='US Air Force' || usBranch=='US SP\pace Force'">First Sergeant (Senior Master Sergeant)</option>
                <option value="Senior Master Sergeant" *ngIf="usBranch=='US Air Force'">Senior Master Sergeant</option>
                <option value="First Sergeant (Chief Master Sergeant)" *ngIf="usBranch=='US Air Force' || usBranch=='US Space Force'">First Sergeant (Chief Master Sergeant)</option>
                <option value="Chief Master Sergeant" *ngIf="usBranch=='US Air Force'">Chief Master Sergeant</option>
                <option value="Chief Master Sergeant of the Air Force" *ngIf="usBranch=='US Air Force' || usBranch=='US Space Force'">Chief Master Sergeant of the Air Force</option>
                <option value="Master Gunnery Sergeant" *ngIf="usBranch=='US Marines'">Master Gunnery Sergeant</option>
                <option value="Sergeant Major of the Marine Corps" *ngIf="usBranch=='US Marines'">Sergeant Major of the Marine Corps</option>
                <option value="Petty Officer Third Class" *ngIf="usBranch=='US Navy' ||  usBranch=='US Coast Guard'">Petty Officer Third Class</option>
                <option value="Petty Officer Second Class" *ngIf="usBranch=='US Navy' ||  usBranch=='US Coast Guard'">Petty Officer Second Class</option>
                <option value="Petty Officer First Class" *ngIf="usBranch=='US Navy' ||  usBranch=='US Coast Guard'">Petty Officer First Class</option>
                <option value="Chief Petty Officer" *ngIf="usBranch=='US Navy' ||  usBranch=='US Coast Guard'">Chief Petty Officer</option>
                <option value="Senior Chief Petty Officer" *ngIf="usBranch=='US Navy' ||  usBranch=='US Coast Guard'">Senior Chief Petty Officer</option>
                <option value="Master Chief Petty Officer" *ngIf="usBranch=='US Navy' ||  usBranch=='US Coast Guard'">Master Chief Petty Officer</option>
                <option value="Master Chief Petty Officer of the Navy" *ngIf="usBranch=='US Navy' ||  usBranch=='US Coast Guard'">Chief Petty Officer of the Navy</option>

                <!-- Warrant Officers US -->
                <option value="Warrant Officer 1" *ngIf="usBranch=='US Army' || usBranch=='US Marines' || usBranch=='US Navy' || usBranch=='US Coast Guard'">Warrant Officer 1</option>
                <option value="Warrant Officer 2" *ngIf="usBranch=='US Army' || usBranch=='US Navy' || usBranch=='US Coast Guard'">Warrant Officer 2</option>
                <option value="Warrant Officer 3" *ngIf="usBranch=='US Army' || usBranch=='US Navy' || usBranch=='US Coast Guard'">Warrant Officer 3</option>
                <option value="Warrant Officer 4" *ngIf="usBranch=='US Army' || usBranch=='US Navy' || usBranch=='US Coast Guard'">Warrant Officer 4</option>
                <option value="Master Warrant Officer 5" *ngIf="usBranch=='US Army'">Master Warrant Officer 5</option>
                <option value="Chief Warrant Officer 2" *ngIf="usBranch=='US Marines'">Chief Warrant Officer 2</option>
                <option value="Chief Warrant Officer 3" *ngIf="usBranch=='US Marines'">Chief Warrant Officer 3</option>
                <option value="Chief Warrant Officer 4" *ngIf="usBranch=='US Marines'">Chief Warrant Officer 4</option>
                <option value="Chief Warrant Officer 5" *ngIf="usBranch=='US Marines'">Chief Warrant Officer 5</option>
                <option value="Master Warrant Officer" *ngIf="usBranch=='US Navy' || usBranch=='US Coast Guard'">Master Warrant Officer</option>

                <!-- Commissioned Officers US -->
                <option value="2nd Lieutenant" *ngIf="usBranch=='US Army' || usBranch=='US Air Force' || usBranch=='US Marines' || usBranch=='US Space Force'">2nd Lieutenant</option>
                <option value="1st Lieutenant" *ngIf="usBranch=='US Army' || usBranch=='US Air Force' || usBranch=='US Marines' || usBranch=='US Space Force'">1st Lieutenant</option>
                <option value="Captain" *ngIf="usBranch=='US Army' || usBranch=='US Air Force' || usBranch=='US Marines' || usBranch=='US Space Force'">Captain</option>
                <option value="Major" *ngIf="usBranch=='US Army' || usBranch=='US Air Force' || usBranch=='US Marines' || usBranch=='US Space Force'">Major</option>
                <option value="Lieutenant Colonel" *ngIf="usBranch=='US Army' || usBranch=='US Air Force' || usBranch=='US Marines' || usBranch=='US Space Force'">Lieutenant Colonel</option>
                <option value="Colonel" *ngIf="usBranch=='US Army' || usBranch=='US Air Force' || usBranch=='US Marines' || usBranch=='US Space Force'">Colonel</option>
                <option value="Brigadier General" *ngIf="usBranch=='US Army' || usBranch=='US Air Force' || usBranch=='US Marines' || usBranch=='US Space Force'">Brigadier General</option>
                <option value="Major General" *ngIf="usBranch=='US Army' || usBranch=='US Air Force' || usBranch=='US Marines' || usBranch=='US Space Force'">Major General</option>
                <option value="Lieutenant General" *ngIf="usBranch=='US Army' || usBranch=='US Air Force' || usBranch=='US Marines' || usBranch=='US Space Force'">Lieutenant General</option>
                <option value="General" *ngIf="usBranch=='US Army' || usBranch=='US Air Force' || usBranch=='US Marines' || usBranch=='US Space Force'">General</option>
                <option value="Army Chief of Staff General" *ngIf="usBranch=='US Army'">Army Chief of Staff</option>
                <option value="Air Force Chief of Staff General" *ngIf="usBranch=='US Air Force'">Air Force Chief of Staff General</option>
                <option value="Space Force Chief of Staff" *ngIf="usBranch=='US Space Force'">Space Force Chief of Staff</option>
                <option value="General of the Army" *ngIf="usBranch=='US Army'">General of the Army</option>
                <option value="General of the Air Force" *ngIf="usBranch=='US Air Force'">General of the Air Force</option>
                <option value="Commandant of the Marine Corps" *ngIf="usBranch=='US Marines'">Commandant of the Marine Corps</option>
                <option value="General of the Space Force" *ngIf="usBranch=='US Space Force'">General of the Space Force</option>
                <option value="Ensign" *ngIf="usBranch=='US Navy' || usBranch=='US Coast Guard'">Ensign</option>
                <option value="Lieutenant, Junior Grade" *ngIf="usBranch=='US Navy' || usBranch=='US Coast Guard'">Lieutenant, Junior Grade</option>
                <option value="Lieutenant" *ngIf="usBranch=='US Navy' || usBranch=='US Coast Guard'">Lieutenant</option>
                <option value="Lieutenant Commander" *ngIf="usBranch=='US Navy' || usBranch=='US Coast Guard'">Lieutenant Commander</option>
                <option value="Captain" *ngIf="usBranch=='US Navy' || usBranch=='US Coast Guard'">Captain</option>
                <option value="Rear Admiral (Commodore)" *ngIf="usBranch=='US Navy' || usBranch=='US Coast Guard'">Rear Admiral (Commodore)</option>
                <option value="Rear Admiral (Upper Half)" *ngIf="usBranch=='US Navy' || usBranch=='US Coast Guard'">Rear Admiral (Upper Half)</option>
                <option value="Vice Admiral" *ngIf="usBranch=='US Navy' || usBranch=='US Coast Guard'">Vice Admiral</option>
                <option value="Chief of Naval Operations" *ngIf="usBranch=='US Navy'">Chief of Naval Operations</option>
                <option value="Commandant of the Coast Guard" *ngIf="usBranch=='US Coast Guard'">Commandant of the Coast Guard</option>
                <option value="Admiral" *ngIf="usBranch=='US Navy' || usBranch=='US Coast Guard'">Admiral</option>
                <option value="Fleet Admiral" *ngIf="usBranch=='US Navy' || usBranch=='US Coast Guard'">Fleet Admiral</option>

                <!-- Junior Non-Commissioned Members ca -->
                <option value="Sailor Third Class" *ngIf="caBranch=='Royal Canadian Navy'">Sailor Third Class</option>
                <option value="Sailor Second Class" *ngIf="caBranch=='Royal Canadian Navy'">Sailor Second Class</option>
                <option value="Sailor First Class" *ngIf="caBranch=='Royal Canadian Navy'">Sailor First Class</option>
                <option value="Master Sailor" *ngIf="caBranch=='Royal Canadian Navy'">Master Sailor</option>
                <option value="Private (Basic)" *ngIf="caBranch=='Canadian Army'">Private (Basic)</option>
                <option value="Private (Trained)" *ngIf="caBranch=='Canadian Army'">Private (Trained)</option>
                <option value="Aviator (Basic)" *ngIf="caBranch=='Royal Canadian Air Force'">Aviator (Basic)</option>
                <option value="Aviator (Trained)" *ngIf="caBranch=='Royal Canadian Air Force'">Aviator (Trained)</option>
                <option value="Corporal" *ngIf="caBranch=='Canadian Army' || caBranch=='Royal Canadian Air Force'">Corporal</option>
                <option value="Master Corporal" *ngIf="caBranch=='Canadian Army' || caBranch=='Royal Canadian Air Force'">Master Corporal</option>
                
                <!-- Warrant Officers, Petty Officers and Senior NCO ca -->
                <option value="Petty Officer 2nd Class" *ngIf="caBranch=='Royal Canadian Navy'">Petty Officer 2nd Class</option>
                <option value="Petty Officer 1st Class" *ngIf="caBranch=='Royal Canadian Navy'">Petty Officer 1st Class</option>
                <option value="Chief Petty Officer 2nd Class" *ngIf="caBranch=='Royal Canadian Navy'">Chief Petty Officer 2nd Class</option>
                <option value="Chief Petty Officer 1st Class" *ngIf="caBranch=='Royal Canadian Navy'">Chief Petty Officer 1st Class</option>
                <option value="Sergeant" *ngIf="caBranch=='Canadian Army' || caBranch=='Royal Canadian Air Force'">Sergeant</option>
                <option value="Warrant Officer" *ngIf="caBranch=='Canadian Army' || caBranch=='Royal Canadian Air Force'">Warrant Officer</option>
                <option value="Master Warrant Officer" *ngIf="caBranch=='Canadian Army' || caBranch=='Royal Canadian Air Force'">Master Warrant Officer</option>
                <option value="Chief Warrant Officer" *ngIf="caBranch=='Canadian Army' || caBranch=='Royal Canadian Air Force'">Chief Warrant Officer</option>

                <!-- Subordinate Officer ca -->
                <option value="Naval Cadet" *ngIf="caBranch=='Royal Canadian Navy'">Naval Cadet</option>
                <option value="Officer Cadet" *ngIf="caBranch=='Canadian Army' || caBranch=='Royal Canadian Air Force'">Officer Cadet</option>

                <!-- Junior Officers ca -->
                <option value="Acting Sub-Lieutenant" *ngIf="caBranch=='Royal Canadian Navy'">Acting Sub-Lieutenant</option>
                <option value="Sub-Lieutenant" *ngIf="caBranch=='Royal Canadian Navy'">Sub-Lieutenant</option>
                <option value="Second Lieutenant" *ngIf="caBranch=='Canadian Army' || caBranch=='Royal Canadian Air Force'">Second Lieutenant</option>
                <option value="Lieutenant" *ngIf="caBranch=='Royal Canadian Navy' || caBranch=='Canadian Army' || caBranch=='Royal Canadian Air Force'">Lieutenant</option>
                <option value="Captain" *ngIf="caBranch=='Canadian Army' || caBranch=='Royal Canadian Air Force'">Captain</option>

                <!-- Senior Officers ca -->
                <option value="Lieutenant-Commander" *ngIf="caBranch=='Royal Canadian Navy'">Lieutenant-Commander</option>
                <option value="Commander" *ngIf="caBranch=='Royal Canadian Navy'">Commander</option>
                <option value="Captain" *ngIf="caBranch=='Royal Canadian Navy'">Captain</option>
                <option value="Major" *ngIf="caBranch=='Canadian Army' || caBranch=='Royal Canadian Air Force'">Sergeant</option>
                <option value="Lieutenant-Colonel" *ngIf="caBranch=='Canadian Army' || caBranch=='Royal Canadian Air Force'">Lieutenant-Colonel</option>
                <option value="Colonel" *ngIf="caBranch=='Canadian Army' || caBranch=='Royal Canadian Air Force'">Colonel</option>

                <!-- General/Flag Officers -->
                <option value="Commodore" *ngIf="caBranch=='Royal Canadian Navy'">Commodore</option>
                <option value="Rear-Admiral" *ngIf="caBranch=='Royal Canadian Navy'">Rear-Admiral</option>
                <option value="Vice-Admiral" *ngIf="caBranch=='Royal Canadian Navy'">Vice-Admiral</option>
                <option value="Admiral" *ngIf="caBranch=='Royal Canadian Navy'">Admiral</option>
                <option value="Brigadier-General" *ngIf="caBranch=='Canadian Army' || caBranch=='Royal Canadian Air Force'">Brigadier-General</option>
                <option value="Major-General" *ngIf="caBranch=='Canadian Army' || caBranch=='Royal Canadian Air Force'">Major-General</option>
                <option value="Lieutenant-General" *ngIf="caBranch=='Canadian Army' || caBranch=='Royal Canadian Air Force'">Lieutenant-General</option>
                <option value="General" *ngIf="caBranch=='Canadian Army' || caBranch=='Royal Canadian Air Force'">General</option>

            </select>
        </div>

        <div class="col-4">
            <span>From: </span> <input type="date" name="milStart" id="milStart" [(ngModel)]="milStart" (change)="updateMilStart()">
        </div>

        <div class="col-4" *ngIf="!active">
            <span>To: </span> <input type="date" name="milEnd" id="milEnd" [(ngModel)]="milEnd" (change)="updateMilEnd()">
        </div>
    </div>

    <div class="row my-2" *ngIf="!active">
        <div class="col-6">
            <span>Type of Discharge: </span>
            <input type="text" name="discharge" id="discharge" [(ngModel)]="discharge" (change)="updateDischarge()" (keypress)="valid($event)">
        </div>

        <div class="col-6">If other than 'Honorable', explain:</div>
    </div>
    <div class="row my-2" *ngIf="!active">
        <div class="col-12" my-2>
            <textarea name="dischargeReason" id="dischargeReason" class="form-control" [(ngModel)]="dischargeReason" (change)="updateDischargeReason()" (keypress)="valid($event)"></textarea>
            </div>
    </div>
</div>